
<div id="subheader">
	<p>
		Swapchef is for people who like food and want to become better chefs.  
		You can browse through all of our questions and answers to learn more about the art of cooking.
		If there is something you want to know, just ask!
	</p>
	<h2>Recent Questions</h2>
</div>

<ol>
	<% for question in @questions %>
		<li>
			<div class="question">
				<h3><%=link_to h(question.title), question %></h3>
			</div>
		</li>
	<% end %>
</ol>

<%= link_to 'New question', new_question_path %>